.wrapper{
    max-inline-size: 800px;
    margin: 0 auto;
}
.accs{
    max-inline-size: 700px;
    margin-block-start: 1.5rem;
    border: 1px solid black;
    margin-block-end: 1.5rem;
}


.top{
    padding: 1rem;
}

.buttons{
margin-inline: .5rem;
display: flex;
justify-content: space-between;
margin-block-end: .5rem;
}

.buttons button{
    border: none;
    padding: 1rem;
    background-color: #009c8c;
    border-radius: 5px;
    color: black;
    margin-inline: .5rem;    
}

.buttons button:hover{
    transform: scale(1.1);
    transition: .3s;
}

.container{
    max-width: 100vh;
    padding-block-start: 1.5rem;
}
.transacList{
    max-width: 700px;
    font-size: 22px;
    border: 3px solid black;
    display: flex;
}

.btn-back{
    margin-block-start: 5px;
    margin-inline-start: 20px;
    padding:1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: #808080;
    border: none;
    color: white;
}