<div class="wrapper">
    <div class="accs" *ngFor="let accs of accounts" >
        <div class="top">

            <div class="holder">
                <div class="name">
                <label for="name">Titular</label>
                <p id="name">{{clients.name}} {{clients.lastname}}</p>
                </div>
            </div>
            <div class="accountN">
                <label for="name">Numero de cuenta</label>
                <p id="name">{{accs.accNumber}}</p>
            </div>
            <div class="accType" >
                <label for="name">Tipo de cuenta</label>
                <p id="name">{{accs.acc_type}}</p>
            </div>
            <div class="balance">
                <label for="name">Saldo</label>
                <p id="name"> $ {{accs.balance}}</p>
            </div>
            <div class="accStatus">
                <label for="name">Estado cuenta</label>
                <p id="name">{{accs.acc_status}}</p>

            </div>
        </div>
        
        <div class="buttons">
            <div class="buttonsAccStatus">
                <button routerLink="/updacc/{{accs.accid}}">Cambiar estado</button>
            </div>
            <div class="buttonsTransac">
                <button  *ngIf="isUsable" routerLink="/cretra/{{accs.accid}}">Realizar transacción</button>
                <button routerLink="/transactions/{{accs.accid}}">Ver historial de transacciones</button>
            </div>
            
        </div>
    </div>
    
</div>