<div class="container">
    <div class="form">
        <form (ngSubmit)="onCreateAcc()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="id">ID Cliente</label>
                <input type="number" class="form-control" id="id" name="client_id" [(ngModel)]="client.id">
            </div>
            <div class="form-group">
                <label for="acc_type">Tipo de cuenta</label>
                <!-- <input type="text" class="form-control" id="idType" name="idType" [(ngModel)]="idType" required> -->
                <select name="acc_type" id="acc_type" [(ngModel)]="acc_type" style="display:block">
                    <option value="savings">Savings</option>
                    <option value="checking">Checking</option>
                </select>
            </div>
            <div class="form-group">
                <label for="balance">Saldo</label>
                <input type="number" class="form-control" id="balance" name="balance" [(ngModel)]="balance">
            </div>
            <div class="form-group">
                <label for="acc_status">Estado de cuenta</label>
                <input type="text" class="form-control" id="acc_status" name="acc_status" [(ngModel)]="acc_status">
            </div>
            <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
        </form>
    </div>
</div>
<router-outlet></router-outlet>