<div class="container">
    <div class="form-group">
        <form (ngSubmit)="updAccount()" novalidate #f="ngForm">
            <label for="acc_status">Estado de cuenta</label>
            <select name="acc_status" id="acc_status" [(ngModel)]="account.acc_status" style="display:block">
                <option value="Activa">Activa</option>
                <option value="Inactiva">Inactiva</option>
                <option value="Inactiva">Cancelada</option>
            </select>
            <button class="btn btn-outline-success btn-block" [disabled]="!f.valid" >Actualizar</button>
        </form>
    </div>
</div>