
<div class="clientList">
    <table class="table clientTable">
        <thead>
        <tr>
            <th scope="col">Id Cliente</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo de documento</th>
            <th scope="col">Número de documento</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Fecha de modificación</th>
            <th scope="col">Usuario actualización</th>
            <th scope="col">Acciones</th>
            <th scope="col">Cuentas</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cliente of clientes">
            <td>{{cliente.id}}</td>
            <td>{{cliente.name}} {{cliente.lastname}}</td>
            <td>{{cliente.idType}}</td>
            <td>{{cliente.document}}</td>
            <td>{{cliente.creationDate}}</td>
            <td>{{cliente.updateDate}}</td>
            <td>{{cliente.updateUser}}</td>
            <td>
            <button class="btn btn-outline-warning" routerLink="update/{{cliente.id}}">Editar</button>
            <button class="btn btn-outline-danger" (click)="delete(cliente.id)" >Eliminar</button>    
            </td>
        </tr>
        </tbody>
    </table>
</div>