
<div class="clientList">
    <table class="table clientTable">
        <thead>
        <tr>
            <th scope="col">Id Cliente</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo de documento</th>
            <th scope="col">Número de documento</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Fecha de modificación</th>
            <th scope="col">Usuario actualización</th>
            <th scope="col">Acciones</th>
            <th scope="col">Cuentas</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of clients">
            <td>{{client.id}}</td>
            <td>{{client.name}} {{client.lastname}}</td>
            <td>{{client.idType}}</td>
            <td>{{client.document}}</td>
            <td>{{client.creationDate}}</td>
            <td>{{client.updateDate}}</td>
            <td>{{client.updateUser}}</td>
            <td>
            <button class="btn btn-outline-warning" routerLink="update/{{client.id}}">Editar</button>
            <button class="btn btn-outline-danger" (click)="delete(client.id)" >Eliminar</button>    
            </td>
        </tr>
        </tbody>
    </table>
    <div class="button">
        <button class="addClient" routerLink="create">Añadir cliente</button>
    </div>
</div>
