<div class="transacList">
    <table class="table transacList">
        <thead>
            <tr>
                <th scope="col">Id transacción</th>
                <th scope="col">Número de cuenta</th>
                <th scope="col">Tipo de transacción</th>
                <th scope="col">Cantidad Transacción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transac of transactions">
                <td>{{transac.trans_id}}</td>
                <td>{{account.accNumber}}</td>
                <td>{{transac.transac_type}}</td>
                <td>$ {{transac.amount}}</td>

            </tr>
        </tbody>
    </table>
</div>