.bg{
    background:  url("../../assets/images/getty_543199181_99771.jpg") center ;
    height: 564px;
    overflow: hidden;
}

.insideLanding{
    animation-duration: 0.7s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    margin-block-end: 1rem; 
}

@keyframes animate-fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.bg h1{
    font-weight:bold;
    font-size: 70px;
    padding-inline-start: 1.5rem;
}

.sec{
    font-style: italic;
    font-family: var(--secondaryFont);
}