.container{
    display: flex;
    justify-content: center;
}
.devInfo{
    display: flex;
    max-width: 700px;
    margin-block-start: 1rem;
}

.divInfoImage{
    margin-inline-end: 10rem;
}

.devInfoInside {
    gap: .5px;
    margin-inline-start: 1.5rem;

}
.devInfoInside p{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: currentColor;
}

.btn{
    padding: 1.5rem;
    border: none;
    background-color: black;
    color: white;
}

.btn i{
    width: 24px;
}