<div class="devInfo">
    <div class="divInfoImage">
        <img src="../../assets/images/IMG_20221208_210935.jpg"  width="250px" alt="">
    </div>
    <div class="devInfoInside">
        <p>
            <b>Nombre:</b> Juan Pablo González
            <b>Correo:</b> jupago14@gmail.com
           <a href="https://github.com/jap102321/finalprojectSP"><b>Link repositorio:</b> https://github.com/jap102321/finalprojectSP</a>
            <b>Perfil Profesional:</b> Soy una persona colaboradora, responsable y disciplinada 
            me considero un buen lider y alguien que sabe
            trabajar en equipo para forjar un proyecto o meta común que haya, estoy siempre
            buscando una constante actualización y soy muy apasionado por lo que hago.
        </p>
    </div>
</div>